*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
p,h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
}
body{
  height: auto;
  width: auto;
}
.header{
  display: grid;
  background: linear-gradient(180deg, #2F364B 0%, #262B3D 85.25%);
  width: auto;
  height: auto;
}
.menu_header{
  margin: 10vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.menu_header .isActive{
  display: block;
}
.menu_header .logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.menu_header .logo .circle{
  background-color: #00BAC7;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.menu_header .logo .circle p{
  color: #fff;
}
.menu_header .logo h1{
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  ;

}
.menu_header .link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.menu_header .link_responsive{
  display: none;
  justify-content: center;
  align-items: center;
}
.menu_header .link_responsive_item{
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.8);
  list-style: none;
  text-align: right;
  display: none;
}
.menu_header .link_responsive_item:active, .menu_header .link_responsive_item:hover{
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
}
.menu_header .link_item{
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.8);
  list-style: none;
}
.menu_header .link_item:active, .menu_header .link_item:hover{
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
}
.menu_header .button_responsive{
  position: absolute;
  top: 97px;
  right: 10vw;
  color: aqua;
  display: none;

}
.menu_header .button_responsive_close{
  position: absolute;
  top: 97px;
  right: 10vw;
  color: aqua;
  display: none;
}
.menu_header .button{
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 100px;
}
.menu_header .button:hover{
  cursor: pointer;

}
.menu_header .button_text{
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #272D3E;
}
.content_header{
  display: flex;
}
.content_header .info{
  margin: 0 0 0 10vw;
  width: 40vw;
}
.content_header .info_title{
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}
.content_header .info_subtitle{
  width: 85%;
  margin-top: 4vh;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
}
.content_header .info_div{
  display: flex;
  width: 85%;
  margin: 8vh 0;
  justify-content: space-between;
}
.content_header .info_button{
  display: flex;
  background: #00BAC7;
  box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
  border-radius: 100px;
  width: 200px;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 25px;
}
.content_header .info_button:hover{
  cursor: pointer;
}
.content_header .info_button_text{
    
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #F4F7FF;
}
.content_header .info_button_icon{
    color: #fff;

  
}
.content_header .info_downloads_icon{
  color: #fff;

}
.content_header .info_downloads{
  display: flex;
  justify-content: space-between;
  width: auto;
}
.content_header .info_downloads_div{
  display: block;
  justify-content: center;
  align-items: center;

}
.content_header .info_downloads_div .description{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}
.content_header .info_downloads_div .value{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.content_header .info_technology{
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.4);
}
.content_header .info_technology_list{
  display: flex;
  margin: 4vh 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}
.content_header .info_technology_list_item:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.content_header .image{
  position: relative;
  width: 40vw;
  height: auto;
}
.content_header .image img{
  position:absolute;
  top: -7vh;
  left: 0px;
  height : auto;
  width : 100%;
}
.border_header{
  background-color: #fff;
  border: none;
  width: 100vw;
  height: 70px;
}

.content_1{
  /* background-color: #E5E5E5; */
  display: block;
  margin: 10vw;
  justify-content: space-around;

}
.content_1 .div_1{
  display: flex;
}
.content_1 .div_title{
  display: block;
  margin-right: 10vw;
}
.content_1 .div_title .title_info{
  color: #00BAC7;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: left;

}
.content_1 .div_title .title{
  color: #272D3E;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}
.content_1 .subtitle{
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: rgba(39, 45, 62, 0.8);
}
.content_1 .div_2{
  display: flex;
  
  justify-content: space-between;
  margin-top: 10vw;
}
.content_1 .div_2 .item{
  list-style: none;
  width: 370px;
  position: relative;
  
}
.content_1 .div_2 .image{

}
.content_1 .div_2 .description{
  justify-content: center;
}
.content_1 .div_2 .title{
  padding: 15px;
  text-align: center;
}
.content_1 .div_2 .subtitle{
  text-align: center;
}


.content_2{
  background: #00BAC7;
  display: flex;
  padding: 10vw;
  
}
.content_2 .div_1{
  display: flex;
}
.content_2 .div_title{
  display: block;
  margin-right: 10vw;
}
.content_2 .div_title .title_info{
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  width: 300px;
  color: #FFFFFF;
}
.content_2 .div_title .title{
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  width: 300px;
}
.content_2 hr{
  margin-top: 3vw;
  margin-bottom: 3vw;
  border-color: aliceblue;
}
.content_2 .perfil{
  display: flex;
  align-items: center;
}
.content_2 .perfil .description{
  margin-left: 10px;
  justify-content: center;
  align-content: center;
}
.content_2 .perfil .name{
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  
  color: #FFFFFF;
}
.content_2 .perfil .username{
    
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: rgba(255, 255, 255, 0.8);
}
.content_2 .subtitle{
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  /* or 222% */


  color: #FFFFFF;
}

@media only screen and (max-width: 1300px) {
  .menu_header {
    display: block;
    height: 40px;
  }
  .menu_header .link{
    display: none;
  }
  .menu_header .link_responsive{
    display: block;
  }
  .menu_header .button {
    display: none;
  }
  .content_header{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .content_header .info {
    margin: 0 10vw 0 10vw;
    width: auto;
  }
  .content_header .image {
    position: relative;
    width: 80vw;
    top: 0px;
    height: auto;
  }
  .content_header .image img {
    width: 100%;
    position: relative;
  }


  .content_1{
    /* background-color: #E5E5E5; */
    display: block;
    margin: 10vw;
    justify-content: space-around;
  
  }
  .content_1 .div_1{
    display: block;
  }
  .content_1 .div_title{
    margin-right: 0vw;
    margin-bottom: 1vw;
  }
  .content_1 .div_2{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
  }
  .content_1 .div_2 .item{
    list-style: none;
    width: 370px;
    position: relative;
    margin-bottom: 1vw;  
    
  }

  
}

@media only screen and (max-width: 1400px) {

  .content_2{
    display: grid;
  }
  .content_2 .div_1{
    display: grid;
  }
  
  .content_2 .subtitle{
    margin-top: 5vw;
  }
}


